body {
  display: flex;
  background: #F3E3D0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  }
h1 {
  color: #81A6C6;
  margin-bottom: 10px;
  }

form {
  background: #F3E3D0;
  padding: 35px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
  align-items: center;
  justify-content: center;
}
span {
  font-size: 19px;
  color: #D2C4B8;
}

label {

  text-align: left;
  margin-top: 10px;
  color: #81A6C6;
  font-size: 14px;
}
input {
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #D2C4B4;
  background: #fff;
  outline: none;
}
input:focus {
  border-color: #81A6C6;
  box-shadow: 0 0 5px rgba(129, 166, 198, 0.5);
}
button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #81A6C6;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.social-container a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  margin: 0 6px;
  border-radius: 50%;
  border: 1px solid #D2C4B4;
  color: #81A6C6;
  text-decoration: none;
  transition: 0.3s ease;
  background: #F3E3D0;
}
.social-container a:hover {
  background: #81A6C6;
  color: #F3E3D0;
  border-color: #81A6C6;
  transform: scale(1.1);
}
.overlay-container {
  width: 120%;
  height: 180px;
  display: flex;
  margin-left: -40px;
}
.overlay-left,
.overlay-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}
.overlay-left {
  background: #5F8FB5;
  color: white;

}
.overlay-right {
  background: #AACDDC;
  color: #494738;
}
.overlay-container a {
  margin-top: 15px;
  padding: 10px 20px;
  background: #F3E3D0;
  color: #494738;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s ease;
}
.password-box {
  position: relative;
}

.password-box i {
  position: absolute;
  right: 30px;
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #81A6C6;
}
